/*@import "http://webfonts.ru/import/opensans.css";*/
@import "http://webfonts.ru/import/lato.css";
@import "http://webfonts.ru/import/droidserif.css";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

html, body {
    height: 100%;
    background-color: #EADEDA;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-size: 14px;
    color: #16191C;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-family: 'Droid serif', serif;
    letter-spacing: 1px;
    font-weight: bolder;
}

p, li, a, h3, span, input, textarea, .alert {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
}

h2 {
    font-family: 'Droid serif';
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 35px;
    font-size: 28px;
    margin-bottom: 15px;
}

h3  {
    font-size: 18px;
    text-transform: uppercase;
}

.link {
    color: #D11443;
    font-weight: 500;
}

.learn_more_btn:hover {
    background: #B7B6C2;
    color: #FFFCF2 !important;
    transition: .4s ease-in-out;
}


.filter a:hover {
    color:  #D11443 !important;
}

.main_footer .link {
    color: #B7B6C2;
}

.main_footer .link:hover {
    color:  #D11443;
}

a:hover {
    text-decoration: none;
    color: #B7B6C2;
    transition: .4s ease-out;
}

a[class='active'] {
    color: #D11443;
}

a {
    text-shadow: none !important;
}

a:active, a:visited {
    text-decoration: none !important;
    border: none !important;
}

button {
    border-radius: 0 !important;
}

article {
    margin-bottom: 50px;
}

.wrapper {
    height: 100%;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}
/*
    ============ NAVIGATION =============
*/

.menu_nav h3 {
    font-weight: bold;
}
.navbar_bg {
    width: 10%;
    background: #08090A;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transition: width .3s ease-out;
    z-index: -1;
}

.main_nav {
    width: 100%;
    background: #08090A;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 60px;
}

.main_nav a {
    font-weight: bold !important;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    color: #EADEDA;
    width: 159px;
}
.main_nav li:first-child > a{
    text-align: left;
    padding-left: 20px;
}

.main_nav li {
    display: flex;
    align-items: center;
    width: 100%;
}

.main_nav a:first-child {
    /*border-right: 1px solid #ffffff;*/
}

.main_nav a:last-child{
    /*background: #D11551;*/
}

.main_nav li > a {
    color: #EADEDA;
}

.main_nav li:hover {
    background:  #D11443;
    transition: .2s ease-out;
}

.menu_nav {
    text-align: center;
}

.menu_nav a {
    display: inline-block;
    margin-right: 20px;
}


#dd-menu {
    position: absolute;
    top: 60px;
    float: left;
    right: 0px;
    display: none;
    width: 100%;
}


#dd-menu li >  a {
    background: #08090A !important;
    padding: 10px;
    text-align: left;
    width: 100%;
}

#dd-menu li >  a:hover {
    color: #D11443;
}

.dd-wrapper {
    position: relative;
}


.menu_nav a:not(.active),
.filter a:not(.active){
    color: #B7B6C2;
}

.menu_nav a:hover {
    color: #D11443;
}

/*
    ============ BANNER =============
*/

.banner {
    overflow: hidden;
    margin: 0;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-position: center;
}

.banner_lg {
    max-height: 700px;
}

.banner_xl {
    height:1019px;
}

.banner_xl .mask {
    opacity: .3;
}
.banner_md {
    height: 496px;
}

.banner_lg .caption_text{
    margin-top: 11%;
    z-index: 3;
}

.banner_update {
    top: 0 !important;
}

.banner_body h3 {
    margin-bottom: 15px;
}

.banner_xl .caption_text {
    bottom: 240px;
    text-align: left;
}

.banner_xl .caption_text h1 {
    font-size: 3.5em;
}

.banner_sm {
    height: 368px;
}

.banner_sm .caption_text {
    margin-top: 7%;
}

.flexslider {
    margin: 0 !important;
    border-radius: 0 !important;
    border: none !important;
}

.caption_text a{
    right: inherit;
    left: inherit;
}

.caption_text {
    position: absolute;
    color: #FFFCF2;
    left:0;
    right: 0;
    z-index: 2;
}

.caption_text h1 {
    font-size: 4.5em;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 7px #08090A;
    margin-bottom: 15px;
}

.caption_text p {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    text-shadow: 0 0 7px #08090A;
}


/*
    ============ BLOCK INFO =============
*/

.block_info {
    background: #FFFCF2 none repeat scroll 0 0;
    position: relative;
    bottom: 40px;
    z-index: 4;
}

.block_info div[class^='col'] {
    border-right: 1px solid #EADEDA ;
}

.block_info .last {
    border: none !important;
}

.block_info_item {
    padding: 40px;
}

.block_info_content{
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}

.block_info_label {
    position: absolute;
    top: 0;
    padding: 25px;
    text-transform: uppercase;
    z-index: 2;
    color: #fff;
}

.block_info_content h3 {
    font-weight: 800;
    color: #08090A;
    margin-bottom: 20px;
}

.block_info p {
    font-size: 16px;
}

.block_info_content li,
.block_stretch li{
    line-height: 1.6;
    font-size: 15px;
}

.block_context a {
    color: #D11443;
}

.block_context {
    background-color: #EADEDA;
    max-width: 90%;
    margin: 0 auto;
    z-index: 2;
}

.block_stretch {
    max-height: 200px;
    overflow: hidden;
}

.service_contacts li {
    font-weight: bold;
}
.service_contacts,
.service_contacts p {
    margin-bottom: 10px;
}



/*
    ============ PROJECTS =============
*/
.border_block {
    padding: 30px;
    border: 1px solid #B7B6C2;
}

.modal_form {
    margin-top: 20px;
}

.modal_form li {
    overflow: auto;
    padding: 20px;
    background: #FFFCF2;
    margin-bottom: 20px;
    transition: all .2s ease-in-out;
    position: relative;
}

.modal_form a {
    color: #08090A;
}

.modal_form h3 {
    color: #08090A;
    font-weight: bold;
}

.modal_form li:hover {
    box-shadow: 0 0 3px #D11443;
}


.modal_form .project_desc_items {
    margin-left: 20px;
    display: inline-block;
    max-width: 70%;
}

.modal_form .project_desc_items > p {
    margin: 8px 0;
}

.modal_form .project_desc_items span {
    margin-right: 10px;
    font-weight: 300;
    color: #B7B6C2;
}

.modal_form .img_wrapper {
    max-width: 127px;
    float: left;
}

.modal_form img {
    width: 100%;
}

#admin_articles .project_desc_items {
    max-width: 65%;
}

/* FEATURED */
.block_featured_projects h3{
    margin-bottom: 10px;
}

.block_featured_projects .row {
    line-height: 0;
}

.block_featured_projects img {
    max-height: inherit;
}

a:hover .mask{
    opacity: .2;
}

.block_featured_projects {
    position: relative;
}

.projects {
    margin-top: 50px;
}

.projects img {
    max-width: 100%;
}

.project_thumb {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-position: center;
}

.project_thumb_lg {
    max-width: 604px;
    max-height: 570px;
    float: left;
}

.project_thumb_md {
    max-width: 100%;
    max-height: 320px;
}

.project_thumb_sm {
    max-width: 285px;
    max-height: 285px;
}

.project_thumb_xs {
    max-width: 250px;
    max-height: 250px;
}



.label_small {
    padding: 15px;
}

.label_right {
    right: 0;
}

.label_left {
    left: 0;
}

.label_black {
    background: #08090A;
    color: #FFFCF2;
}

.label_red {
    background: #D11443;
}

.image_caption{
    position: absolute;
    bottom: 12%;
    padding: 0 30px;
    z-index: 4;
    color: #FFFCF2;
    text-shadow: 0 0 7px #08090A;
}

.image_caption span {
    display: inline-block;
    width: 90px;
    height: 20px;
}

.image_caption h2 {
    line-height: 28px;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 300;
}

.mask {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.tint_linear{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 60%, rgba(252,252,252,0) 50%, rgba(26,26,26,0.85) 99%, rgba(19,19,19,0.85) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 60%,rgba(252,252,252,0) 50%,rgba(26,26,26,0.85) 99%,rgba(19,19,19,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 60%,rgba(252,252,252,0) 50%,rgba(26,26,26,0.85) 99%,rgba(19,19,19,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d9131313',GradientType=0 ); /* IE6-9 */
}

.tint_circular {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+13,000000+64&0+25,0.65+81 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 13%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.45) 64%, rgba(0,0,0,0.65) 81%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 13%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.45) 64%,rgba(0,0,0,0.65) 81%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 13%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.45) 64%,rgba(0,0,0,0.65) 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tint {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 2;
}

.slide {
    z-index:auto !important;
    width: 100%;
}

/* PORTFOLIO */

.filter {
    text-align: center;
    margin-bottom: 40px;
}

.filter a {
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
}

.image_wrapper {
    max-height: inherit;
    max-width: 380px;
    overflow: hidden;
}

.projects .image_wrapper {
    max-width: 377px;
}

.projects_paginate {
    margin-top: 40px;
    text-align: center;
}

.projects_paginate li > a {
    color: #08090A;
}

.projects_paginate li > a:hover {
    color: #D11443;
}

#project_body .control-group {
    margin-top: 25px;
    background: #EADEDA;
    padding: 22px 0 6px 17px;
}

/*
    ============ REVIEWS =============
*/

#reviews {
    background: #FFFCF2;
    padding: 30px 40px;
    max-width: 100%;
    overflow: hidden;
}

.review {
    max-width: 400px;
    border-right: 1px solid #EADEDA;
}

.review_img {
    text-align: center;
}

.flex-viewport {
    padding-left: 15px !important;
}

.flex-direction-nav a {
    height: 50px !important;
}

.review_ava {
    /*max-height: 70px;*/
    /*width: 70px !important;*/
}

.review p {
    font-size: 11px;
    font-weight: 400;
    color: #08090A;
    vertical-align: middle;
}

.review_item {
    max-width: 60%;
    margin: 0 auto;
    background:  #FFFCF2;
    padding: 40px;
    position: relative;
    margin-top: 15px;
}

.review_item button {
    position: relative;
    top: 25px;
}

.review_item h3 {
    display: inline-block;
}

.review_item .label {
    bottom: 3px;
    position: relative;
    display: inline-block;
    left: 10px;
}

.admin-reviews .review_item {
    max-width:100%;
}

#banners .file_upload {
    width: 95px;
    height: 95px;
    right: 20px;
    position: relative;
}

.banner_body > .row {
    margin-bottom: 15px;
}

#banners .file_upload span {
    top: 10px;
}

#banners .file_upload span > input{
    width: 60px;
    bottom: 6px;
}

.review_user_img {
    max-width: 145px;
}
.review_user_img img {
    width: 100%;
}

.reviews {
    margin-top: 50px;
}

#user_vk_photo {
    max-width: 40px;
}

#user_vk_fullname {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    bottom: 15px;
    margin-left: 10px;
}

.item-lg {
    max-width: 100%;
}

/*
    ============ GALLERY =============
*/

.gallery {
    margin: 0;
    line-height: 0;
}

#sample_gallery li {
    display: inline-block;
    max-width: 12.5% ;
    max-height: 252px;
    margin: 0;
}

.gallery li {
    max-width: 127px;
    max-height: 127px;
    overflow: hidden;
    position: relative;
}

.gallery li > img {
    height: 100%;
    width: 100%;
}

.project_thumbs {
    margin-top: 15px;
    border-bottom: 1px solid #B7B6C2;
    margin-bottom: 20px;
}

.notification {
    background: #EADEDA;
    color: #08090A;
    padding: 20px;
    max-width: 32%;
}

.project_thumbs ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}

.project_thumbs .row {
    margin-bottom: 15px;
}

.project_thumbs h3 {
    margin-bottom: 15px;
}

.thumbnails {
    margin: 10px auto;
}

.thumbnails li,
.main_thumb li {
    display: inline-block;
    width: 127px;
    height: 127px;
    overflow: hidden;
    margin-right: 7px;
    position: relative;
}

.thumbnails li > img,
.main_thumb li > img {
    height: 100%;
    width : auto;
}

#admin_gallery ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery li {
    margin-bottom: 5px;
    margin-right: 5px;
}

.gallery #gallery_add {
    width: 142.5px;
    height: 142.5px;
}

/*
    ============ SERVICE =============
*/

#services {
    margin-top: 10px;;
}

#services li {
    margin-bottom: 8px;
}

#services .panel-heading {
    background: #FFFCF2;
    border: none;
    border-radius: 0;
    color: #D11443;
}

#services .panel-heading h3 {
    font-weight: bold;
}

#services .panel {
    border: none;
    box-shadow: none;
}

#services .cke {
    margin-bottom: 20px;
}

.service_description {
    margin-bottom: 50px;
    padding: 0 80px 0 0;
}

.service_description p,
.service_description li {
    font-size: 18px;
}

.service_description p {
    margin: 15px auto;
}

.service_description li {
    list-style: inside;
    padding-left: 10px;
}

.service_description h2 {
    margin-top: 50px;
}

.block_featured_projects h3 {
    text-transform: uppercase;
    color:  #08090A;
    font-size: 1.2em;
}

.block_featured_projects > .row {
    margin-bottom: 20px;
}


.calculator label {
    margin: 10px 0;
}


    /*
        ============ NEWS =============
    */

.modal-content article {
    padding: 40px;
    margin: 0;
}

.modal-content h2 {
    margin: 30px 0 5px 0;
}

.modal-content .form-group {
    margin-top: 15px;
    margin-bottom: 10px;
}

#article_modal .img-thumbnail {
    margin-bottom: 10px;
}

#article_modal img {
    width: 100%;
}

#article_modal input {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    position: relative;
}

#article_body .img_add {
    display: inline-block;
    width: 127px;
    height: 127px;
    overflow: hidden;
    margin-right: 7px;
    position: relative;
}

#article_body .delete,
#project_body .delete {
    float: right;
}

#banners .img_add {
    width: 95px;
    height: 95px;
}

.news {
    margin-top: 100px;
}

.news_item {
    max-width: 60%;
}
.news_item_img {
    max-width: 100%;
    max-height: 370px;
    overflow: hidden;
}
.news_item_img img {
    max-width: inherit;
}

.news_item_content {
    padding: 0 10px;
}

/*
    ============ FOOTER =============
*/


footer {
    background: #08090A;
    padding: 40px;
    background-position: center;
    background-size: contain;
}

.main_footer {
    padding: 50px 15px;
    color: #FFFCF2;
}

.main_footer > .row {
    border-bottom: 1px solid #FFFCF2;
    padding-bottom: 50px ;
}

.copyright {
    text-align: center;
    padding-top: 30px;
}


/*
    ============ BUTTONS =============
*/

.btn {
    font-family: Lato;
}

.action_btn{
    background: #D11443;
    border: none;
    font-size: 1.1em;
    padding: 10px 15px;
    display: block;
    max-width: 120px;
    color: #FFFCF2;
}

.learn_more_btn {
    background:#D11443;
    border: none;
    font-size: 1.1em;
    padding: 10px 15px;
    display: block;
    max-width: 120px;
    margin: 50px auto 0;
    color:  #FFFCF2;
    z-index: 10;
    position: absolute;
    left: 0;
    right:0;
}

.order {
    position: relative;
}

.mouse_icon_block {
    position: absolute;
    bottom:10%;
    left: 0;
    right:0;
    display: block;
    width: 35px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 27px;
    border: 3px solid #FFFCF2;
    opacity: .8;
    border-radius: 40px;
    -webkit-transition: border 200ms ease;
    transition: border 200ms ease;
    text-align: center;
    z-index:4;
}

.mouse_scroll_icon {
    display: inline-block;
    width: 6px;
    height: 15px;
    border-radius: 50px;
    background-color:  #FFFCF2;
    bottom: 15px;
    position: relative;
    animation-name: scroll_tip;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#vk_like {
    margin-top: 50px;
    padding-left: 18px;
    margin-bottom: 35px;
    width: 100% !important;
}

#vk_like > iframe {
    width: 100% !important;
}

#vk_auth {
    display: block;
    width: 110px;
    background: #3D658F;
    position: relative;
    padding: 10px;
    margin-top: 20px;
}

.authorize {
    position: relative;
}

#vk_auth span {
    font-size: 20px;
    color:  #FFFCF2;
}

#vk_auth img {
    max-width: 100%;
    max-height: 100%;
    float: left;
    border: 1px solid rgb(255, 255, 255);
}

#navbar_show {
    display: none;
}


button > span {
    font-size: 21px;
    right: 8px;
    position: relative;
    bottom: 3px;
}


/* ADMIN */
#banners {
    position: relative;
}

#banners h1 {
    font-size: 28px;
}

input {
    padding: 10px;
    width: 100%;
    background: #FFFCF2;
    border: 1px solid #B7B6C2;
    transition: all .3s ease-in-out;
    color: #08090A;
}

input:hover {
    box-shadow: 0 0 4px #EADEDA;
}



.panel-title h3 {
    display: inline-block;
}

.alert_error {
    border: 1px solid #B7B6C2;
    padding: 10px;
    overflow: auto;
    z-index: 1;
}

.icon-cancel-circled2 {
    color: #8B2635;
}


.icon-ok-circled2 {
    color: #0e6655 !important;
}

.alert_error > span {
    font-size: 60px;
    margin-bottom: 20px;
}

.modal-content {
    background: #FFFCF2;
}

.alert_error .modal_close {
    width: 100px;
    padding: 5px;
    float: right;
}

.alert_error .message {
    margin-bottom: 40px;
    margin-top: 20px;
    padding-left: 16px;
}

.category {
    margin: 15px auto;
    background: #EADEDA;
    padding: 22px 15px;
    font-size: 18px;
}

.category_select select {
    padding: 5px;
    font-size: 16px;
    text-transform: capitalize;
    width: 160px;
    border: none;
}

.category_select{
    display: inline-block;
    margin-right: 15px;
}

.category_select > label {
    margin-right: 10px;
}

#featured {
    width: auto !important;
}
.panel-title span {
    float: right;
}

#project_modal article {
    padding: 40px;
}

#project_body input {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    position: relative;
}



.panel-body .img-thumbnail {
    max-height: 450px;
    overflow: hidden;
    margin-bottom: 20px;
}

#admin_services li {
    margin-bottom: 10px;
}

#add_article {
    margin-bottom: 30px !important;
}

#add_article .panel-heading {
    background: #08090A;
    color: #EADEDA;
}

#image_crop,
#img_main_preview,
.img_main_preview{
    max-width: 100%;
}

#img_modal .modal-dialog {
    width: 867px !important;
}


.file_upload {
    width: 127px;
    height: 127px;
    background: none;
    border: 1px dashed #B7B6C2;
}

.file_upload span:hover {
    color: #8B2635;
}

.file_upload span {
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 62px;
    height: 62px;
    color: #B7B6C2;
    transition: all .3s ease-in-out;
}


.panel-body .file_upload {
    margin-top: 20px;
    color: #FFFCF2;
}

.img_add {
    display: inline-block;
    width: 170px;
    height: 170px;
    position: relative;
}

.img_delete,
.delete_thumb{
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 1;
}
#img_crop_set {
    display: block;
    margin: 0px 5px 10px;
    float: right;
    width: 100px;
}

.edited {
    opacity: 1;
}

.img_preview {
    opacity: .5;
}

.thumbnail {
    width: 100%;
    overflow: hidden;
}

.modal-crop {
    width: 867px !important;
    overflow: auto;
}


input[name='is_news'] {
    width: auto;
    margin-top: 20px;
}

.file_upload input#upload_thumb,
.file_upload input#upload_thumbs{
    position: absolute;
    right: 0;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 60px;
    bottom: 0px;
    top: 0px;
}

.socials li {
    margin-right: 15px;
    font-size: 16px;
    display: inline-block;
}

#author {
    float: right;
}


.control-group {
    margin-top: 25px;
    background: #EADEDA;
    padding: 22px 0px 0px 17px;
}

.calculator .control-group {
    margin: 0;
    padding: 0;
    background: none;
}

.calculator .control__indicator {
    background: #B7B6C2;
}

.calculator .control:hover input ~ .control__indicator,
.calculator .control input:focus ~ .control__indicator {
    background: #B7B6C2;
}

.aside .block_info {
    bottom: 0;
}

.calculator {
    margin: 0px 0 40px 0;
}

.calculator .control {
    font-size: 14px;
}

.calculator label + span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

.range-slider {
    border: none;
}

.calculator .result {
    font-size: 25px;
    text-align: center;
}
.calculator .result span {
    font-weight: bold;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}
.control input {
    /*position: absolute;*/
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #FFFCF2;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #FFFCF2;
}
.control input:checked ~ .control__indicator {
    background: #B7B6C2;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #B7B6C2;
}
.control input:disabled ~ .control__indicator {
    background: #FFFCF2;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 1px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}


#login {
    background: #FFFCF2;
    border: #B7B6C2;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    top: 30%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 240px;
}

#login input {
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #B7B6C2
}

#login button {
    border: 1px solid  #B7B6C2;
    padding: 5px 23px;
    background: #FFFCF2;
    color: #08090A;
}
#login p {
    margin-bottom: 20px;
}

button {
    width: 100px;
    height: 40px;
    border: none;
    color: #FFFCF2;
    transition: all .4s ease-in-out;
}

button:hover {
    opacity: 0.5;
}

.post,
button[name='add_button']{
    background: #45B39D;
}

.delete {
    background: #D11443;
}

.loader-inner div {
    max-height: 10px;
    max-width: 10px;
    position: relative;
    vertical-align: middle;
}


/*  MEDIA */

@media only screen and (height: 375px) {

    .project_thumb {
        max-height: 375px;
    }

    .banner {
        height: 375px
    }

    .project_thumb_md {
        max-width: 331px;
    }

}

@media only screen and (height: 320px){

    .project_thumb {
        max-height: 320px
    }

    .banner{
        height: 320px
    }

    .project_thumb_md {
        max-width: 282px;
    }

    .project_thumb_sm {
        max-width: 100% !important;
        max-height: 320px;
    }
}

@media only screen and (width: 375px){

    .project_thumb {
        max-height: 375px
    }

    .banner{
        height: 375px
    }
}

@media only screen and (height: 360px){

    .project_thumb {
        max-height: 360px
    }

    .banner {
        height: 360px
    }

    .project_thumb_md {
        max-width: 318px;
    }
}

@media only screen and (width: 360px){

    .project_thumb {
        max-height: 360px
    }

    .banner{
        height: 360px
    }
}

@media only screen and (width: 320px){

    .project_thumb {
        max-height: 320px
    }

    .banner{
        height: 320px
    }
}

@media only screen and (height: 414px){

    .project_thumb {
        max-height: 414px
    }

    .banner{
        height: 414px
    }

    .project_thumb_md {
        max-width: 366px;
    }
}


@media only screen and (width: 414px){

    .project_thumb {
        max-height: 414px
    }

    .banner{
        height: 414px
    }
}

@media only screen and (max-height: 414px){
    .banner_sm .caption_text {
        margin-top: 23%;
    }
}

/*  all mobile */
@media only screen and (max-width: 768px) {

    .caption_text p {
        display: none;
    }

    .projects .image_wrapper {
        max-width: 100%;
    }

    .block_info_item {
        padding: 20px;
        border-bottom: 1px solid #EADEDA ;
    }

    article[name='description'] .service_description {
        padding: 0;
    }

    .learn_more_btn {
        padding: 0;
        margin: 0;
    }

    .banner_lg {
        max-height: 280px;
    }

    .banner_xl .caption_text {
        bottom: 40px;
        left: 20px;
        margin: 0;
    }

    .banner_xl .caption_text h1  {
        font-size: 2em;
    }

    .block_featured_projects > .row {
        margin: 0;
    }

    #author {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .main_footer {
        padding: 30px !important;
    }

    .news {
        margin: 0;
    }

    .news_item, .block_context {
        max-width: 100%;
    }

    .reviews {
        margin: 0;
    }

    .review_item {
        max-width: 100%;
        margin: 0;
        padding: 20px;
    }

    .service_description {
        margin-bottom: 0;
        padding: 20px;
    }

    .service_description h2 {
        margin-top: 10px;
    }
    .service_description li {
        list-style: none;
        padding: 0;
    }

    .menu_nav {
        text-align: left;
    }

    .menu_nav a {
        display: block;
    }

    .filter {
        text-align: left;
        margin: 10px 0;
        padding-left: 22px;
    }

    .projects  {
        margin: 0;
    }
    .projects_paginate {
        margin: 0;
    }

    .filter a {
        margin-right: 25px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
    }

    .menu_nav a:first-child {
        margin-bottom: 10px;
    }

    .service_description p, .service_description li {
        font-weight: 500;
    }

    .banner_sm .caption_text {
        margin-top: 40%;
        text-align: center;
    }

    .block_info {
        bottom: 0;
    }

    .block_info_content {
        height: initial;
    }
    .block_info p,
    .block_info li {
        font-weight: 500;
    }

    .calculator {
        margin: 0 !important;
    }

    .project_thumb_lg {
        max-width: 100%;
        max-height: 414px;
    }

    .project_thumb_sm {
        max-width: 100% !important;
        max-height: 414px;
    }
}

/*  Tablet  */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    #author {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .block_featured_projects > .row {
        margin: 0;
    }

    .banner_xl .caption_text h1  {
        font-size: 2.5em;
    }


    .main_footer {
        padding: 30px !important;
    }

    .service_description {
        padding: 40px;
    }

    .news {
        margin: 0;
    }

    .news_item, .block_context {
        max-width: 89%;
    }

    .block_info_item {
        border-bottom: 1px solid #EADEDA ;
    }

    .reviews {
        margin: 0;
    }

    .review_item {
        max-width: 100%;
        margin: 0;
    }

    .filter {
        text-align: left;
        margin: 10px 0;
        padding-left: 22px;
    }

    .filter a {
        margin-right: 25px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
    }

    .menu_nav h3 {
        font-size: 20px;
    }

    .banner_sm {
        height: 281px;
    }

    .projects_paginate {
        margin: 0;
    }

    .banner_sm .caption_text {
        margin-top: 13%;
        text-align: center;
    }

    .project_thumb_sm {
        max-width: 100%;
        max-height: 400px;
    }

    .projects {
        margin-top: 20px;
    }

    .caption_text p {
        display: block;
    }

    .banner_xl {
        height: 375px;
    }

    .banner_xl .caption_text {
        width: 80%;
        left: 10%;
        bottom: 70px;
    }

    .projects .image_wrapper {
        max-width: 381.5px;
    }

    .banner_lg .caption_text {
        margin-top: 7%;
    }

    .service_description h2 {
        margin: 10px 0 ;
    }

    .caption_text a {
        margin-top: 15px;
    }

    .block_info_content {
        height: auto;
    }

    .container,
    .container-fluid,
    .row{
        width: 100%;
    }

    .banner_lg .caption_text h1 {
        font-size: 2.5em;
    }

    .news {
        margin-top: 10px;
    }

    .block_info{
        bottom: 0;
    }

    .news_item_content > .block_context {
        bottom: 40px;
    }

    .learn_more_btn {
        padding: 5px 15px;
    }

    .banner_lg .caption_text {
        width: 60%;
        left: 60px;
    }
}

@media only screen and (max-width: 1024px) {

    .container,
    .container-fluid,
    .row,
    div[class^='col'] {
        margin: 0;
        padding: 0;
        border: none !important;
    }

    .main_footer > .row {
        padding: 0;
    }

    .navbar_bg {
        display: none;
    }

    #navbar_show {
        display: block;
        position: absolute;
        z-index: 10000;
        right: 0;
        background: #08090A;
        width: 60px;
    }

    #navbar_show > span {
        bottom: 0;
        right:0;
        left: 0;
    }

    .project_thumb_lg img {
        max-width: 100%;
    }

    #navbar_collapse {
        display: none ;
    }

    .main_nav {
        flex-direction: column;
        justify-content: flex-start;
        height:100%;
        position: fixed;
        width: 150px;
        left: 0;
        text-align: left;
        overflow: auto;
    }

    .main_nav a {
        text-align: left;
        padding: 0 0 0 20px;
    }

    .main_nav li:first-child {
        display: none;
    }

    .main_nav li {
        height: 50px;
    }

    .block_featured_projects img {
        max-width: 100%;
        max-height: 100%;
    }

    .block_featured_projects {
        margin-top: 20px;
    }

    .main_nav a {
        display: block;
        height: 50px;
        padding-top: 12px;
        position: relative;
        border: none !important ;
    }

    #navbar_show {
        float: right;
    }

    footer {
        padding: 0;
    }

    .main_footer {
        padding: 30px 20px;
    }

    .main_footer div[class^='col'] {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px){


    .projects .image_wrapper {
        max-width: 338.5px;
    }

    .banner_lg .caption_text h1 {
        font-size: 3em;
    }

    .banner_xl .caption_text {
        bottom: 170px;
    }

    .block_info_item{
        border-right: 1px solid #EADEDA ;
        border-bottom: none;
    }

    .last > .block_info_item {
        border: none !important;
    }

    .block_info_content {
        height: 200px;
    }

    .project_thumb_sm {
        max-width: 300px;
        max-height: 255px;
    }

    .project_thumb_lg {
        max-width: 510px;
    }

    .banner_xl {
        height: 720px;
    }

}


@media only screen and (max-width: 1400px) {
    .caption_text h1 {
        font-size: 3em;
    }
}




@keyframes scroll_tip {
    from {
        opacity: 0;
    }

    to  {
        opacity: 1;
        bottom: 0;
    }

}

