.modal-content article {
  padding: 40px;
  margin: 0;
}

.modal-content h2 {
  margin: 30px 0 5px 0;
}

.modal-content .form-group {
  margin-top: 15px;
  margin-bottom: 10px;
}

#article_modal .img-thumbnail {
  margin-bottom: 10px;
}

#article_modal img {
  width: 100%;
}

#article_modal input {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  position: relative;
}

#article_body .img_add {
  display: inline-block;
  width: 127px;
  height: 127px;
  overflow: hidden;
  margin-right: 7px;
  position: relative;
}

#article_body .delete,
#project_body .delete {
  float: right;
}