#banners .file_upload span {
  top: 10px;
}

#banners .file_upload span > input{
  width: 60px;
  bottom: 6px;
}

#banners .img_add {
  width: 95px;
  height: 95px;
}

#banners .file_upload {
  width: 95px;
  height: 95px;
  right: 20px;
  position: relative;
}

#banners {
  position: relative;
}

#banners h1 {
  font-size: 28px;
}