
.project_thumbs {
  margin-top: 15px;
  border-bottom: 1px solid #B7B6C2;
  margin-bottom: 20px;
}

.notification {
  background: #EADEDA;
  color: #08090A;
  padding: 20px;
  max-width: 32%;
}

.project_thumbs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.project_thumbs .row {
  margin-bottom: 15px;
}

.project_thumbs h3 {
  margin-bottom: 15px;
}

.thumbnails {
  margin: 10px auto;
}

.thumbnails li,
.main_thumb li {
  display: inline-block;
  width: 127px;
  height: 127px;
  overflow: hidden;
  margin-right: 7px;
  position: relative;
}

.thumbnails li > img,
.main_thumb li > img {
  height: 100%;
  width : auto;
}

