#project_body .control-group {
  margin-top: 25px;
  background: #EADEDA;
  padding: 22px 0 6px 17px;
}

.project_thumbs {
  margin-top: 15px;
  border-bottom: 1px solid $c_border;
  margin-bottom: 20px;
}

.notification {
  background: $c_background;
  color: $c_main;
  padding: 20px;
  max-width: 32%;
}

.project_thumbs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.project_thumbs .row {
  margin-bottom: 15px;
}

.project_thumbs h3 {
  margin-bottom: 15px;
}

.thumbnails {
  margin: 10px auto;
}

.thumbnails li,
.main_thumb li {
  display: inline-block;
  width: 127px;
  height: 127px;
  overflow: hidden;
  margin-right: 7px;
  position: relative;
}

.thumbnails li > img,
.main_thumb li > img {
  height: 100%;
  width : auto;
}

.modal_form {
  margin-top: 20px;
}

.modal_form li {
  overflow: auto;
  padding: 20px;
  background: $c_block;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
  position: relative;
}

.modal_form a {
  color:$c_link;
}

.modal_form h3 {
  color: $c_main;
  font-weight: bold;
}

.modal_form li:hover {
  box-shadow: 0 0 3px $c_link;
}

.modal_form .project_desc_items {
  margin-left: 20px;
  display: inline-block;
  max-width: 70%;
}

.modal_form .project_desc_items > p {
  margin: 8px 0;
}

.modal_form .project_desc_items span {
  margin-right: 10px;
  font-weight: 300;
  color: $c_block;
}

.modal_form .img_wrapper {
  max-width: 127px;
  float: left;
}

.modal_form img {
  width: 100%;
}

#admin_articles .project_desc_items {
  max-width: 65%;
}