// Fonts
$f_header: 'Droid serif';
$f_main: 'Lato';
$f_secondary: 'Open Sans';

// Colors
$c_main:        #08090A;
$c_link:        #D11443;
$c_background:  #EADEDA;
$c_block:       #FFFCF2;
$c_border:      #B7B6C2;
$c_button:     #45B39D;



// Includes
@import "typography";
@import "reset_css";
@import "base";
@import "navigation";
@import "banners";
@import "blocks";
@import "projects";
@import "portfolio";
@import "reviews";
@import "gallery";
@import "services";
@import "footer";
@import "buttons";
@import "news";
// admin
@import "admin/banners";
@import "admin/projects";
@import "admin/articles";
@import "admin/services";
@import "admin/gallery";
// other
@import "media/index";
@import "mixins/index";
@import "animations/index";


