/*
    ============ BANNERS =============
*/

.banner {
  overflow: hidden;
  margin: 0;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-position: center;
}

.banner_lg {
  max-height:700px;
}

.banner_xl {
  height:1019px;
}

.banner_xl .mask {
  opacity: .3;
}

.banner_md {
  height: 496px;
}

.banner_lg .caption_text{
  margin-top: 11%;
}

.banner_update {
  top: 0 !important;
}

.banner_body h3 {
  margin-bottom: 15px;
}

.banner_xl .caption_text {
  margin-top: 20%;
  text-align: left;
}

.banner_sm {
  height: 368px;
}

.banner_sm .caption_text {
  margin-top: 7%;
}

.flexslider {
  margin: 0 !important;
  border-radius: 0 !important;
  border: none !important;
}

.caption_text {
  position: absolute;
  color: $c_block;
  left:0;
  right: 0;
}

.caption_text h1 {
  font-size: 4.5em;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0 7px $c_main;
  margin-bottom: 15px;
  line-height: 70px;
}

.caption_text p {
  font-size: 1.4em;
  text-shadow: 0 0 7px $c_main;
}

.slide {
  z-index:auto !important;
}

.banner_body > .row {
  margin-bottom: 15px;
}