/*  BASE  */

html, body {
  background: $c_background;
  color: $c_main;
  font-family: $f_main, serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
}

h1,h2 {
  font-family: $f_header, serif;
  line-height: 35px;
}

h1 {
  letter-spacing: 1px;
  font-weight: bolder;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 15px;

}

h3  {
  font-size: 18px;
  text-transform: uppercase;
}

a:not(.project_thumb) {
  color: $c_link;
  text-shadow: none;
  transition: all .4s ease-in-out;
}

a:active, a:visited, a:focus, a:hover {
  text-decoration: none !important;
  border: none !important;
}

a:hover {
  color: $c_border;
}

img {
  width: 100%;
}

button {
  width: 100px;
  height: 35px;
  border: none;
  color: $c_block;
  background: $c_link;
  transition: all .4s ease-in-out;
}

button > span {
  font-size: 21px;
  right: 8px;
  position: relative;
  bottom: 3px;
}

button:hover {
  opacity: 0.5;
}

article {
  margin-bottom: 50px;
}

p, li, a, h3, span, input, textarea{
  font-weight: 300;
}

input {
  padding: 10px;
  width: 100%;
  background: $c_block;
  border: 1px solid $c_border;
  transition: all .3s ease-in-out;
  color: $c_main;
}

input:hover {
  box-shadow: 0 0 4px $c_block;
}

.link {
  font-weight: 500;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.wrapper {
  height: 100%;
}

.label_small {
  padding: 15px;
}

.label_large {
  padding: 25px;
}

.label_right {
  right: 0;
}

.label_left {
  left: 0;
}

.label_black {
  background: $c_main;
  color: $c_block;
}

.label_red {
  background: $c_link;
}

.post,
button[name='add_button']{
  background: $c_button;
}

.delete {
  background: $c_link;
}

