/*
    ============ BLOCK INFO =============
*/

.aside .block_info {
  bottom: 0;
}

.block_info {
  background: $c_block none repeat scroll 0 0;
  position: relative;
  bottom: 40px;
  z-index: 4;
}

.block_info div[class^='col'] {
  border-right: 1px solid $c_background ;
}

.block_info .last {
  border: none !important;
}

.block_info_item {
  padding: 40px;
}

.block_info_content{
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.block_info_content h3 {
  font-weight: bolder;
  margin-bottom: 20px;
}

.block_info p {
  font-size: 16px;
}

.block_info_content li,
.block_stretch li{
  line-height: 1.6;
  font-size: 15px;
}

.block_context {
  background-color: $c_background;
  max-width: 90%;
  margin: 0 auto;
  z-index: 2;
}

.block_stretch {
  max-height: 200px;
  overflow: hidden;
}

.service_contacts li {
  font-weight: bold;
}

.service_contacts,
.service_contacts p {
  margin-bottom: 10px;
}

.border_block {
  padding: 30px;
  border: 1px solid $c_border;
}

.block_info_label {
  position: absolute;
  top: 0;
  text-transform: uppercase;
  z-index: 2;
  color: $c_block;
}

.calculator {
  margin: 0px 0 40px 0;
}

/* FEATURED */

.block_featured_projects .row {
  line-height: 0;
  margin-bottom: 20px;
}

.block_featured_projects h3 {
  margin-bottom: 10px;
}

.block_featured_projects img {
  max-height: inherit;
}

.block_featured_projects {
  position: relative;
}

.image_caption{
  position: absolute;
  bottom: 12%;
  padding: 0 30px;
  z-index: 4;
  color: $c_block;
  text-shadow: 0 0 7px $c_main;
}

.image_caption span {
  display: inline-block;
  width: 90px;
  height: 20px;
}

.image_caption h2 {
  margin-bottom: 15px;
  line-height: 28px;
  font-family: $f_main;
  text-transform: uppercase;
  font-weight: 300;
}

.mask {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: $c_main;
  opacity: 0;
  transition: all .4s ease-in-out;
}

a:hover .mask{
  opacity: .2;
}

.tint_linear{
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 60%, rgba(252,252,252,0) 50%, rgba(26,26,26,0.85) 99%, rgba(19,19,19,0.85) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 60%,rgba(252,252,252,0) 50%,rgba(26,26,26,0.85) 99%,rgba(19,19,19,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 60%,rgba(252,252,252,0) 50%,rgba(26,26,26,0.85) 99%,rgba(19,19,19,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d9131313',GradientType=0 ); /* IE6-9 */
}

.tint_circular {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+13,000000+64&0+25,0.65+81 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 13%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.45) 64%, rgba(0,0,0,0.65) 81%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 13%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.45) 64%,rgba(0,0,0,0.65) 81%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 13%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.45) 64%,rgba(0,0,0,0.65) 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tint {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 2;
}

#user_vk_photo {
  max-width: 40px;
}

#user_vk_fullname {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  bottom: 15px;
  margin-left: 10px;
}

.panel-title h3 {
  display: inline-block;
}

.alert_error {
  border: 1px solid #B7B6C2;
  padding: 10px;
  overflow: auto;
  z-index: 1;
}

.icon-cancel-circled2 {
  color: $c_link;
}


.icon-ok-circled2 {
  color: $c_button !important;
}

.alert_error > span {
  font-size: 60px;
  margin-bottom: 20px;
}

.modal-content {
  background: $c_block;
}

.alert_error .modal_close {
  width: 100px;
  padding: 5px;
  float: right;
}

.alert_error .message {
  margin-bottom: 40px;
  margin-top: 20px;
  padding-left: 16px;
}

.category {
  margin: 15px auto;
  background: $c_background;
  padding: 22px 15px;
  font-size: 18px;
}

.category_select select {
  padding: 5px;
  font-size: 16px;
  text-transform: capitalize;
  width: 160px;
  border: none;
}

.category_select{
  display: inline-block;
  margin-right: 15px;
}

.category_select > label {
  margin-right: 10px;
}

#featured {
  width: auto !important;
}
.panel-title span {
  float: right;
}

#project_modal article {
  padding: 40px;
}

#project_body input {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  position: relative;
}

.panel-body .img-thumbnail {
  max-height: 450px;
  overflow: hidden;
  margin-bottom: 20px;
}

#admin_services li {
  margin-bottom: 10px;
}

#add_article {
  margin-bottom: 30px !important;
}

#add_article .panel-heading {
  background: $c_main;
  color: $c_block;
}

#image_crop,
#img_main_preview,
.img_main_preview{
  max-width: 100%;
}

#img_modal .modal-dialog {
  width: 867px !important;
}

.file_upload {
  width: 127px;
  height: 127px;
  background: none;
  border: 1px dashed $c_border;
}

.file_upload span:hover {
  color: $c_link;
}

.file_upload span {
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 62px;
  height: 62px;
  color: $c_border;
  transition: all .3s ease-in-out;
}

.panel-body .file_upload {
  margin-top: 20px;
  color: $c_block;
}

.img_add {
  display: inline-block;
  width: 170px;
  height: 170px;
  position: relative;
}

.img_delete,
.delete_thumb{
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  z-index: 1;
}
#img_crop_set {
  display: block;
  margin: 0px 5px 10px;
  float: right;
  width: 100px;
}

.edited {
  opacity: 1;
}

.img_preview {
  opacity: .5;
}

.thumbnail {
  width: 100%;
  overflow: hidden;
}

.modal-crop {
  width: 867px !important;
  overflow: auto;
}

input[name='is_news'] {
  width: auto;
  margin-top: 20px;
}

.file_upload input#upload_thumb,
.file_upload input#upload_thumbs{
  position: absolute;
  right: 0;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 60px;
  bottom: 0px;
  top: 0px;
}

#author {
  float: right;
}

#login {
  background: $c_block;
  border: $c_border;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  top: 30%;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  height: 240px;
}

#login input {
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid $c_border;
}

#login button {
  border: 1px solid  $c_border;
  padding: 5px 23px;
  background: $c_block;
  color: $c_main;
}
#login p {
  margin-bottom: 20px;
}

.loader-inner div {
  max-height: 10px;
  max-width: 10px;
  position: relative;
  vertical-align: middle;
}

