/*
    ============ BUTTONS =============
*/

.action_btn{
  background: $c_link;
  border: none;
  font-size: 1.1em;
  padding: 10px 15px;
  display: block;
  max-width: 120px;
  color:$c_block;
}

.learn_more_btn {
  background: $c_link;
  border: none;
  font-size: 1.1em;
  padding: 10px 15px;
  display: block;
  max-width: 120px;
  margin: 50px auto 0;
  color:  $c_block !important;
  z-index: 10;
  position: absolute;
}

.order {
  position: relative;
}

.mouse_icon_block {
  position: absolute;
  bottom:10%;
  left: 0;
  right:0;
  display: block;
  width: 35px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 27px;
  border: 3px solid $c_block;
  opacity: .8;
  border-radius: 40px;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
  text-align: center;
  z-index:4;
}

.mouse_scroll_icon {
  display: inline-block;
  width: 6px;
  height: 15px;
  border-radius: 50px;
  background-color:  $c_block;
  bottom: 15px;
  position: relative;
  animation-name: scroll_tip;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#vk_like {
  margin-top: 50px;
}

#vk_auth {
  display: block;
  width: 110px;
  background: #3D658F;
  position: relative;
  padding: 10px;
  margin-top: 20px;
}

.authorize {
  position: relative;
}

#vk_auth span {
  font-size: 20px;
  color:  $c_block;
}

#vk_auth img {
  max-width: 100%;
  max-height: 100%;
  float: left;
  border: 1px solid rgb(255, 255, 255);
}

.learn_more_btn:hover {
  background: $c_border;
  color: $c_block !important;
  transition: .4s ease-in-out;
}