/*
    ============ FOOTER =============
*/

footer {
  background: $c_main;
  padding: 40px;
  background-position: center;
  background-size: contain;
}

.main_footer {
  padding: 50px 15px;
  color: $c_block;
}

.main_footer > .row {
  border-bottom: 1px solid $c_block;
  padding-bottom: 50px ;
}

.copyright {
  text-align: center;
  padding-top: 30px;
}

.socials li {
  margin-right: 15px;
  font-size: 16px;
  display: inline-block;
}

footer .link{
  color: $c_border;
}

footer .link:hover {
  color:  $c_link;
}