/*
    ============ GALLERY =============
*/

.gallery {
  margin: 0;
  line-height: 0;
}

#sample_gallery li {
  display: inline-block;
  max-width: 12.5% ;
  max-height: 252px;
  margin: 0;
}

.gallery li {
  max-width: 127px;
  max-height: 127px;
  overflow: hidden;
  position: relative;
}

.gallery li > img {
  height: 100%;
  width: 100%;
}

#admin_gallery ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery li {
  margin-bottom: 5px;
  margin-right: 5px;
}

.gallery #gallery_add {
  width: 142.5px;
  height: 142.5px;
}
