/*
    ============ NAVIGATION =============
*/

.menu_nav h3 {
  font-weight: bold;
}

.menu_nav {
  text-align: center;
}

.menu_nav a {
  display: inline-block;
  margin-right: 20px;
}

.navbar_bg {
  width: 10%;
  background: $c_main;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transition: width .3s ease-out;
  z-index: -1;
}

.main_nav {
  width: 100%;
  background: $c_main;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 60px;
}

.main_nav a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  color: $c_background;
  width: 159px;
}

.main_nav li:first-child > a {
  text-align: left;
  padding-left: 15px;
}

.main_nav li:first-child {
  border-right: 1px solid $c_block;
}

.menu_nav a:not(.active), .filter a:not(.active) {
  color: $c_border;
}

.main_nav li {
  display: flex;
  align-items: center;
  width: 100%;
  transition: .2s ease-out;
}

.main_nav li:hover {
  background:  $c_link;
}

#dd-menu {
  position: absolute;
  top: 60px;
  float: left;
  right: 0;
  display: none;
  width: 100%;
}

#dd-menu li {
  border: none;
}

#dd-menu li >  a {
  background: $c_main;
  padding: 10px;
  text-align: left;
  width: 100%;
}

#dd-menu li >  a:hover {
  color: $c_link;
}

.dd-wrapper {
  position: relative;
}