/*
   ============ NEWS =============
*/

.news {
  margin-top: 100px;
}

.news_item {
  max-width: 60%;
}

.news_item_img {
  max-width: 100%;
  max-height: 370px;
  overflow: hidden;
}
.news_item_img img {
  max-width: inherit;
}

.news_item_content {
  padding: 0 10px;
  background: $c_background;
}