/* PORTFOLIO */

.filter {
  text-align: center;
  margin-bottom: 40px;
}

.filter a {
  margin-right: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  color: $c_border;
}

.filter .active {
  color: $c_link;
}

.filter a:hover {
  color:  $c_link;
}

.image_wrapper {
  max-height: inherit;
  max-width: 380px;
  overflow: hidden;
}

.projects .image_wrapper {
  max-width: 377px;
}

.projects_paginate {
  margin-top: 40px;
  text-align: center;
}

.projects_paginate li > a {
  color: $c_main;
}

.projects_paginate li > a:hover {
  color: $c_link;
}