/*
    ============ PROJECTS =============
*/

.projects {
  margin-top: 50px;
}

.projects img {
  max-width: 100%;
}

.project_thumb {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-position: center;
}

.project_thumb_lg {
  max-width: 604px;
  max-height: 570px;
  float: left;
}

.project_thumb_md {
  max-width: 100%;
  max-height: 320px;
}

.project_thumb_sm {
  max-width: 285px;
  max-height: 285px;
}

.project_thumb_xs {
  max-width: 250px;
  max-height: 250px;
}