/*
    ============ REVIEWS =============
*/

#reviews {
  background: $c_block;
  padding: 30px 40px;
  max-width: 100%;
  overflow: hidden;
}

.review {
  max-width: 400px;
  border-right: 1px solid $c_background;
}

.review_img {
  text-align: center;
}

.flex-viewport {
  padding-left: 15px !important;
}

.flex-direction-nav a {
  height: 50px !important;
}

.review_ava {
  max-height: 70px;
  width: 70px !important;
}

.review p {
  font-size: 11px;
  font-weight: 400;
  color: $c_main;
  vertical-align: middle;
}

.review_item {
  max-width: 60%;
  margin: 0 auto;
  background:  $c_block;
  padding: 40px;
  position: relative;
  margin-top: 15px;
}

.review_item button {
  position: relative;
  top: 25px;
}

.review_item h3 {
  display: inline-block;
}

.review_item .label {
  bottom: 3px;
  position: relative;
  display: inline-block;
  left: 10px;
}

.admin-reviews .review_item {
  max-width:100%;
}

.review_user_img {
  max-width: 145px;
}
.review_user_img img {
  width: 100%;
}

.reviews {
  margin-top: 50px;
}

.item-lg {
  max-width: 100%;
}