/*
    ============ SERVICES =============
*/

#services {
  margin-top: 10px;;
}

#services li {
  margin-bottom: 8px;
}

#services .panel-heading {
  background: $c_block;
  border: none;
  border-radius: 0;
  color: $c_link;
}

#services .panel-heading h3 {
  font-weight: bold;
}

#services .panel {
  border: none;
  box-shadow: none;
}

#services .cke {
  margin-bottom: 20px;
}

.service_description {
  margin-bottom: 50px;
  padding: 0 80px 0 0;
}

.service_description p,
.service_description li {
  font-size: 18px;
}

.service_description p {
  margin: 15px auto;
}

.service_description li {
  list-style: inside;
  padding-left: 10px;
}

.service_description h2 {
  margin-top: 50px;
}

.block_featured_projects h3 {
  text-transform: uppercase;
  color:  $c_main;
  font-size: 1.2em;
}

.block_featured_projects > .row {
  margin-bottom: 20px;
}

.calculator label {
  margin: 10px 0;
  font-size: 17px;
}

.control-group {
  margin-top: 25px;
  background: $c_block;
  padding: 22px 0px 0px 17px;
}

.calculator .control-group {
  margin: 0;
  padding: 0;
  background: none;
}

.calculator .control__indicator {
  background: $c_border;
}

.calculator .control:hover input ~ .control__indicator,
.calculator .control input:focus ~ .control__indicator {
  background: $c_border;
}

.calculator {
  margin: 0px 0 40px 0;
}

.calculator .control {
  font-size: 14px;
}

.calculator label + span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.range-slider {
  border: none;
}

.calculator .result {
  font-size: 25px;
  text-align: center;
}
.calculator .result span {
  font-weight: bold;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: $c_block;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: $c_block;
}
.control input:checked ~ .control__indicator {
  background: $c_border;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: $c_border;
}
.control input:disabled ~ .control__indicator {
  background: $c_block;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 1px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}