
.icon-ok-circled2:before { content: '\e800'; } /* '' */
.icon-cancel-circled2:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */